h1 {
  color: red;
  text-align: center;
  /* margin: 0 auto; */
  margin-bottom: 2rem;
}
body {
  background-color: skyblue;
}
.c {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Home_button {
  display: block;
  height: 3rem;
  border-radius: 3rem;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  background-color: rgb(88, 78, 78);
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 6rem;
  border: solid black;
}
body {
  background-image: url("../pexels-adrien-olichon-2387532.jpg");
}
